<table class="tabgp">
	 {{#each listeResultat}}
		<tr><td><img class="imgpays" src="/image/pays/{{this.payadrdrap}}" alt="Drapeau du pays" />
      <a href="/detailResultat/{{this.gpnum}}"> {{this.gpnom}}</a>
    </td></tr>
 {{/each}}
</table>
<br class="myboth" />
