<table class="tabpayscir">
	 {{#each listeCircuit}}
		<tr><td><img class="imgpays" src="/image/pays/{{payadrdrap}}" alt="Drapeau du pays {{cirnom}}" />
      <a href="/detailCircuit/{{cirnum}}"> {{cirnom}}</a>
    </td></tr>
 {{/each}}
</table>
<br class="myboth" />
