{{#if session.admin}}

    <p>Vous êtes connecté</p>
{{else}}
    <h1>Administration :</h1>

    <form action="/" method="post">
        <div>
            <label>Login :</label>
            <input type="login"  name="login" alt="login">

        </div>
        <div>
            <label for="mdp">Mot de passe :</label>
            <input type="password"  name="password" alt="password">
        </div>

        <button>Annuler</button>
        <button>Connexion</button>

    </form>
{{/if}}


<br class="myboth" />
