<img src="/image/cat_sponsor.png" alt="Gestion des sponsors">
<h2>Gestion des Sponsors</h2>
<img src="/image/act_add.png" alt="Ajouter"/><a href="/sponsors/ajoutersponsor"> Ajouter un sponsor</a>
<br/><br/>
<table class="listeSpo">
   <tr>
     <th>Nom</th>
     <th>Activité</th>
     <th>Actions</th>
   </tr>

   {{#each listeSponsor}}
    <tr>
      <td>{{sponom}}</td>
      <td>{{sposectactivite}}</td>
      <td><img src="/image/act_edit.png" alt="Modifier"/><a href="/sponsors/modifiersponsor/{{sponum}}"> Modifier </a><img src="/image/act_delete.png" alt="Supprimer"/><a href="/sponsors/supprimersponsor/{{sponum}}"> Supprimer</a></td>
    </tr>
    {{/each}}
</table>
<br class="myboth" />
