<h2>Modifier un sponsor</h2>

<form action="#" id="insert" method="post">

  <p>Nom <input type="text" name="sponom" size="10" value="{{detailSponsor.sponom}}" required></p>

  <p>Secteur d'activité <input type="text" name="sposectactivite" size="10" value="{{detailSponsor.sposectactivite}}" required></p>

  <input type="submit" value="Valider"/>
</form>
