body {
  font-family: "Segoe UI", "DejaVu Sans",Verdana, sans-serif;
  background: url('/image/fond.jpg') repeat;
  font-size:0.8em;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #000000;
}
.monBody #container {
  width: 900px;
  margin: 0 auto;
  text-align: left;
  background:#ffffff;
}
.monBody #header {
  height:300px;
}
.monBody #menu {
  height:22px;
  color:#ffffff;
  font-size:1.4em;
  background:#000000;
}
.monBody #contenu {
  padding:20px;
}
.monBody #footer {
  padding: 0 10px;
  font-size:0.8em;
  text-align:center;
  height:150px;
  background:url(/image/footer.jpg) no-repeat;
}
#menu a	{
  color:#ffffff;
  text-decoration:none;
}
#menu {
  text-align: center;
}
#LogoNode {
  max-height: 20%;
  max-width: 20%;
}
.tabpaysecu, .tabpayscir, .tabgp, .tabacc  {
  float:right;
  padding:10px;
  border:1px solid black;
  margin:10px
  -moz-border-radius:15px;
  border-radius:15px;
}

.tabacc{
  float: none;
  margin:auto;
}

.myboth  {
  clear:both;
}
a  {
  text-decoration:none;
  color:#0072ff;
}
.lienNotFound {align:center; style="background-color: #1d81b1;color: #FFFFFF;text-transform: uppercase;"}
.photoNotFound {
  max-height: 40%;
  max-width: 40%;
}

.photoPilote, .photoVoiture{
  height: 125px;
  width: 125px;
}

.listePil, .listeInit{
  display: flex;
  justify-content: center;
}

.prenomPil, .nomPil{
  font-weight: bold;
}

.imgpays{
  height: 32px;
  width: 32px;
}

.photoCircuit{
  height: 350px;
  width: 250px;
  margin-right: 1%;
}

.infobulle {
  position: relative;
  display: inline-block;
}

.infobulle .contenuInfobulle {
  visibility: hidden;
  width: 300px;
  background-color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5%;
  position: absolute;
  top: 100%;
  left: 50%;
  border: solid black 1px;
  z-index: 1;
}

.infobulle .contenuInfobulle::after {
   position: absolute;
}

.infobulle:hover .contenuInfobulle {
  visibility: visible;
  opacity: 1;
}

.contenuTableResultat {
  border: 1px solid black;
  height:25px;
}

.tableResultat{
  text-align: center;
  width:50%;
}

.titreAccueil{
  text-decoration: underline;
  text-align:center;
}
